@page
@model DairyFarmWebApp.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Product Details</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Company.CompanyName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">View All Products</a>
    </form>
</div>
